## Extract/Import - Get Data

In [227]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine
from DB_keys import db_key

# Source Data files
incident_data = "resources/incident_file.csv"
employement_data = "resources/employment.csv"

# Read the source data and convert to Pandas Dataframe
incident_data_df = pd.read_csv(incident_data)
employement_data_df = pd.read_csv(employement_data)

## Transform - Drop Unrequired Data and Modify

In [228]:
# Create clean incident data table by dropping additional columns and rename remaining columns from data frames
incident_data_clean = incident_data_df.drop(['acccode', 'accinj', 'canvass', 'ccidn', 'coalmetl', 'commod', 'compcode', 'county', 'daysrest', 'daysstat', 'daystotl', 'district', 'docnum', 'expjob', 'expmine', 'exptotal', 'injtype',
                                            'inspoff', 'invstart', 'minemach', 'modnum', 'narrcm', 'permtort', 'retwork', 'shift', 'sic', 'subunit', 'time', 'timesnce', 'tradnm', 'upaddno', 'upaddyr', 'upchngno', 'upchngyr', 'ywmine', 'retwork', 'ywtotal'], axis=1)
incident_data_clean = incident_data_clean.rename(columns={'mineid': 'mine_id', 'aii': 'incident_category', 'atype': 'incident_type', 'contract': 'contract_id', 'day': 'incident_day', 'month': 'incident_month', 'narrtxt1': 'incident_description', 'narrtxt2': 'incident_description2', 'opercont': 'operator_contractor', 'state': 'incident_state', 'uloc': 'underground_location',
                                                 'year': 'incident_year', 'mwactiv': 'incident_activity', 'umeth': 'underground_method', 'age': 'injured_person_age', 'sex': 'injured_person_gender', 'occup': 'injured_person_occupation', 'deginj': 'injury_classification', 'injrep': 'injury_count', 'dayslost': 'injury_days_lost', 'natinj': 'injury_nature', 'partbody': 'injury_body_part', 'sourcinj': 'injury_source', })
incident_data_clean.head()

,mine_id,contract_id,incident_month,incident_day,incident_state,underground_location,underground_method,incident_category,incident_type,injury_count,...,incident_activity,injury_source,injury_nature,injury_body_part,injury_classification,injury_days_lost,incident_description,incident_description2,incident_year,operator_contractor
0,100003,NaN,February,11,Alabama,Not labeled,0,Handling material,Absorption of various noxious substances,1,...,Walking/running,Acids and alkalies,"Burn, chemical","Lower extremities, multiple",Days of restricted activity only,0,EMPLOYEE WALKED THROUGH A PUDDLE OF WATER IN T...,NaN,2020,Operator
1,100003,B5225,August,4,Alabama,Not labeled,0,Stepping or kneeling on object,Struck against stationary object,1,...,Handling explosives,"Broken rock, coal, ore, waste","Sprain, strains",Back,Days of restricted activity only,0,EMPLOYEE WAS LOADING EMULSION BLASTING AGENT I...,CE. EMPLOYEE REGAINED EE'S BALANCE BEFORE FAL...,2020,Contractor
2,100003,B5225,December,14,Alabama,Not labeled,0,Slip or fall of person (from an elevation or o...,Fall to the walkway or working surface,1,...,Walking/running,Ground,"Sprain, strains",Ankle,Days of restricted activity only,0,EMPLOYEE WAS WALKING BETWEEN ROWS OF DRILLED P...,NaN,2020,Contractor
3,100008,NaN,September,22,Alabama,Not labeled,0,Handling material,Over-exertion in lifting objects,1,...,"Handling supplies or material, load and unload",Belt conveyors,"Hernia, rupture",Abdomen,Days away AND restricted activity,8,EMPLOYEE WAS ASSISTING WITH REMOVING A PULLEY ...,NaN,2020,Operator
4,100011,NaN,February,25,Alabama,Not labeled,0,Slip or fall of person (from an elevation or o...,Fall to the walkway or working surface,1,...,Climb scaffolds/ladders/platforms; headframe/d...,Ground,"Sprain, strains",Shoulder(s),Days away from work only,258,EMPLOYEE PULLED UP IN A BACK HOE TO ADDRESS EE...,NaN,2020,Operator

In [229]:
# Replace identified 'dirty' data values in the incident_data table
incident_data_clean['incident_activity'] = incident_data_clean['incident_activity'].str.replace('#NULL!','Unknown')
incident_data_clean['underground_method'] = incident_data_clean['underground_method'].str.replace('0','Unknown')
incident_data_clean['injured_person_age'] = incident_data_clean['injured_person_age'].str.replace('#NULL!','-1')
incident_data_clean['injured_person_gender'] = incident_data_clean['injured_person_gender'].str.replace('#NULL!','Unknown')

incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('261','Unknown')
incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('617','Unknown')
incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('675','Unknown')
incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('677','Unknown')
incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('#NULL!','Unknown')

incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('#NULL!','Unclassified')
incident_data_clean['injury_days_lost'] = incident_data_clean['injury_days_lost'].str.replace('#NULL!','Nil Recorded')
incident_data_clean['injury_nature'] = incident_data_clean['injury_nature'].str.replace('#NULL!','Unclassified')
incident_data_clean['injury_source'] = incident_data_clean['injury_source'].str.replace('#NULL!','Unclassified')

## Project_2 Additions - Transform - Drop Unrequired Data and Modify

In [230]:
# Replace injury_body_part data values
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Finger(s)','Hand/Wrist')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Back','Back/Torso')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Unclassified','Unclassified/Multiple')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Shoulder(s)','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Knee','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Hand','Hand/Wrist')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Eye(s) (inc. optic nerve & vision)','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Multiple parts','Unclassified/Multiple')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Ankle','Hand/Wrist')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Chest','Back/Torso')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Lower leg','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Head, NEC','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Foot (not ankle or toes)','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Elbow','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Hips','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Neck','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Body systems','Unclassified/Multiple')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Forearm','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Mouth','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Thigh','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Ear(s) internal (inc. hearing)','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Leg, NEC','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Arm, NEC','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Upper arm','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Abdomen','Back/Torso')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Toe(s)','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Brain','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Face, NEC','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Jaw (inc. chin)','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Lower extremities, multiple','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Upper extremities, multiple','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Nose','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Scalp','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Face, multiple parts','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Ear(s) external','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Head, multiple','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Arm, multiple','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Trunk, NEC','Back/Torso')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Leg, multiple','Hips/Legs/Feet')

# Replace injury_nature data values
incident_data_clean['injury_nature'] = incident_data_clean['injury_nature'].str.replace('Unclassified, not determined','Unclassified')
incident_data_clean['injury_nature'] = incident_data_clean['injury_nature'].str.replace('Other injury, NEC','Unclassified')

In [231]:
# Create clean employment data table by dropping additional columns and rename remaining columns from data frames
employment_data_clean = employement_data_df.drop(['contract', 'aveemp01', 'aveemp02', 'aveemp03', 'aveemp04', 'aveemp05', 'aveemp06', 'aveemp12', 'aveemp17', 'aveemp30', 'aveemp99', 'avenemp', 'canvass', 'coalmetl', 'commod', 'county', 'countynm', 'district', 'emphrs01', 'emphrs02', 'emphrs03', 'emphrs04',
                                                 'emphrs05', 'emphrs06', 'emphrs12', 'emphrs17', 'emphrs30', 'emphrs99', 'inspoff', 'mailcont', 'minename', 'opercont', 'priorst', 'seamhite', 'sic', 'statdate', 'state', 'stateabb', 'status', 'tons01', 'tons03', 'tons04', 'tons05', 'tons06', 'tothrs', 'totprod', 'travarea', 'year', ], axis=1)
employment_data_clean = employment_data_clean.rename(columns={'mineid': 'mine_id', 'city': 'company_city', 'compname': 'company_name', 'injcount': 'company_injury_count',
                                                     'minetype': 'company_mine_type', 'streetad': 'company_address', 'ug_surf': 'company_underground_surface', 'zipcode': 'company_zipcode'})
employment_data_clean.head()

,mine_id,company_mine_type,company_name,company_address,company_city,company_zipcode,company_injury_count,company_underground_surface
0,100003,Surface stone,LHOIST NORTH AMERICA OF ALABAM,7444 STATE HIGHWAY 25 SOUTH,CALERA,35040,1,Surface
1,100004,Surface stone,LHOIST NORTH AMERICA OF ALABAM,7444 HWY. 25,CALERA,35040,0,Surface
2,100006,Surface stone,"MARTIN MARIETTA MATERIALS, INC",1800 INTERNATIONAL PARK DRIVE,BIRMINGHAM,35243,0,Surface
3,100008,Surface stone,CHENEY LIME & CEMENT COMPANY,P.O. BOX 2046,ALABASTER,35007,1,Surface
4,100009,Surface stone,"VULCAN CONSTRUCTION MATERIALS,",1200 URBAN CENTER DR.,BIRMINGHAM,35242,0,Surface

## Project_2 Additions - Transform - Change Case of Fields

In [232]:
employment_data_clean['company_name'] = employment_data_clean['company_name'].str.title()
employment_data_clean.head()

,mine_id,company_mine_type,company_name,company_address,company_city,company_zipcode,company_injury_count,company_underground_surface
0,100003,Surface stone,Lhoist North America Of Alabam,7444 STATE HIGHWAY 25 SOUTH,CALERA,35040,1,Surface
1,100004,Surface stone,Lhoist North America Of Alabam,7444 HWY. 25,CALERA,35040,0,Surface
2,100006,Surface stone,"Martin Marietta Materials, Inc",1800 INTERNATIONAL PARK DRIVE,BIRMINGHAM,35243,0,Surface
3,100008,Surface stone,Cheney Lime & Cement Company,P.O. BOX 2046,ALABASTER,35007,1,Surface
4,100009,Surface stone,"Vulcan Construction Materials,",1200 URBAN CENTER DR.,BIRMINGHAM,35242,0,Surface

## Load - Create new Data Frames and Export data into new CSV files

In [233]:
incident_data_clean.head()

,mine_id,contract_id,incident_month,incident_day,incident_state,underground_location,underground_method,incident_category,incident_type,injury_count,...,incident_activity,injury_source,injury_nature,injury_body_part,injury_classification,injury_days_lost,incident_description,incident_description2,incident_year,operator_contractor
0,100003,NaN,February,11,Alabama,Not labeled,Unknown,Handling material,Absorption of various noxious substances,1,...,Walking/running,Acids and alkalies,"Burn, chemical",Hips/Legs/Feet,Days of restricted activity only,0,EMPLOYEE WALKED THROUGH A PUDDLE OF WATER IN T...,NaN,2020,Operator
1,100003,B5225,August,4,Alabama,Not labeled,Unknown,Stepping or kneeling on object,Struck against stationary object,1,...,Handling explosives,"Broken rock, coal, ore, waste","Sprain, strains",Back/Torso,Days of restricted activity only,0,EMPLOYEE WAS LOADING EMULSION BLASTING AGENT I...,CE. EMPLOYEE REGAINED EE'S BALANCE BEFORE FAL...,2020,Contractor
2,100003,B5225,December,14,Alabama,Not labeled,Unknown,Slip or fall of person (from an elevation or o...,Fall to the walkway or working surface,1,...,Walking/running,Ground,"Sprain, strains",Hand/Wrist,Days of restricted activity only,0,EMPLOYEE WAS WALKING BETWEEN ROWS OF DRILLED P...,NaN,2020,Contractor
3,100008,NaN,September,22,Alabama,Not labeled,Unknown,Handling material,Over-exertion in lifting objects,1,...,"Handling supplies or material, load and unload",Belt conveyors,"Hernia, rupture",Back/Torso,Days away AND restricted activity,8,EMPLOYEE WAS ASSISTING WITH REMOVING A PULLEY ...,NaN,2020,Operator
4,100011,NaN,February,25,Alabama,Not labeled,Unknown,Slip or fall of person (from an elevation or o...,Fall to the walkway or working surface,1,...,Climb scaffolds/ladders/platforms; headframe/d...,Ground,"Sprain, strains",Shoulder(s),Days away from work only,258,EMPLOYEE PULLED UP IN A BACK HOE TO ADDRESS EE...,NaN,2020,Operator

In [234]:
# Create 'incident_details' table and export to csv file
incident_details = incident_data_clean[['mine_id', 'contract_id', 'incident_activity', 'incident_category', 'incident_day', 'incident_description',
                                        'incident_description2', 'incident_month', 'incident_state', 'incident_type', 'incident_year', 'operator_contractor', 'underground_location', 'underground_method']]

# Add mine_id filter for top 20 complanies
count_freq = incident_details['mine_id'].value_counts()
count_freq.head(20)

top20 = count_freq.head(20).index
top20 = [f"{number}" for number in top20]

incident_details_test = incident_details['mine_id'].isin(top20)
incident_details_export = incident_details[incident_details_test]

# # Export Data to CSV File
incident_details_export.to_csv("Resources\incident_details.csv", index=False)
incident_details_export.head()

,mine_id,contract_id,incident_activity,incident_category,incident_day,incident_description,incident_description2,incident_month,incident_state,incident_type,incident_year,operator_contractor,underground_location,underground_method
45,100851,NaN,Unknown,Hoisting,16,THE #7 SPLIT SHAFT WAS TAKEN DOWN TO CHANGE TH...,NaN,January,Alabama,Accident type without injuries,2020,Operator,Not labeled,Unknown
46,100851,NaN,"Handling supplies or material, load and unload",Handling material,12,IE WAS REMOVING A COVER FROM THE TRAM MOTORS O...,NaN,February,Alabama,Over-exertion in pulling or pushing objects,2020,Operator,Face,Longwall
47,100851,NaN,Machine maint./repair,Handling material,13,IE WAS CARRYING OLD STRUCTURE OFF OF A BELT LI...,ITTING. IE WAS BROUGHT OUT AND TRANSPORTED TO ...,February,Alabama,Struck by NEC,2020,Operator,Other,Longwall
48,100851,NaN,Locomotive (air trammer),Powered haulage,18,IE WAS TRAVELING UP THE TRACK WITH A LOCOMOTIV...,IE WAS BROUGHT OUT AND WENT TO THE DOCTOR TO B...,February,Alabama,Struck against moving object,2020,Operator,Other,Longwall
49,100851,NaN,"Get on or off equip. machines, etc.",Slip or fall of person (from an elevation or o...,24,EMPLOYEE WAS CLIMBING OUT OF A LOTRAC AND STEP...,NaN,February,Alabama,Over-exertion NEC,2020,Operator,Face,Longwall

In [235]:
# Create 'injured_person_details' table and export to csv file
injured_person_details = incident_data_clean[['mine_id','injured_person_age','injured_person_gender', 'injured_person_occupation']]

injured_person_details_test = injured_person_details['mine_id'].isin(top20)
injured_person_details_export = injured_person_details[injured_person_details_test]

# Export Data to CSV File
injured_person_details_export.to_csv("Resources\injured_person_details.csv", index=False)
injured_person_details_export.head()

,mine_id,injured_person_age,injured_person_gender,injured_person_occupation
45,100851,-1,Unknown,Unknown
46,100851,51,Male,"Electrician, Lineman"
47,100851,47,Male,"Roof bolter, Rock bolter, Pinner, Mobile roof ..."
48,100851,49,Male,"Motorman, Motor person, Swamper, Switchman, Lo..."
49,100851,34,Male,"Beltman, Conveyor man and belt worker, Mobile ..."

In [236]:
# Create 'injury_details' table and export to csv file
injury_details = incident_data_clean[['mine_id','injury_body_part', 'injury_classification', 'injury_count', 'injury_days_lost', 'injury_nature', 'injury_source']]

injury_details_test = injury_details['mine_id'].isin(top20)
injury_details_export = injury_details[injury_details_test]

# Export Data to CSV File
injury_details_export.to_csv("Resources\injury_details.csv", index=False)
injury_details_export.head()

,mine_id,injury_body_part,injury_classification,injury_count,injury_days_lost,injury_nature,injury_source
45,100851,Unclassified/Multiple,No Injury,0,Nil Recorded,Unclassified,Unclassified
46,100851,Shoulder(s),Days away from work only,1,150,"Sprain, strains",Metal covers and guards
47,100851,Hand/Wrist,Days away from work only,1,6,"Contusion, bruise",Belt conveyors
48,100851,Unclassified/Multiple,Days away from work only,1,340,"Contusion, bruise","Underground narrow gauge rail cars, motors, etc."
49,100851,Hips/Legs/Feet/Legs/Feet,Days away from work only,1,39,"Sprain, strains","Mine floor, bottom, footwall"

In [237]:
# Create 'company_details' table and export to csv file
company_details = employment_data_clean

company_details_test = employment_data_clean['mine_id'].isin(top20)
company_details_export = company_details[company_details_test]

# Export Data to CSV File
company_details_export.to_csv("Resources\company_details.csv", index=False)
company_details_export

,mine_id,company_mine_type,company_name,company_address,company_city,company_zipcode,company_injury_count,company_underground_surface
47,100851,Underground coal,Crimson Oak Grove Resources Ll,8360 TAYLORS FERRY RD,BESSEMER,35023,41,Underground
51,101247,Underground coal,"Warrior Met Coal Mining, Llc",14730 LOCK 17 RD,BROOKWOOD,35444,22,Underground
53,101401,Underground coal,"Warrior Met Coal Mining, Llc",P.O. BOX 133,BROOKWOOD,35444,33,Underground
79,102901,Underground coal,"Peabody Southeast Mining, Llc",P.O. BOX 327,OAKMAN,35579,28,Underground
266,200024,Surface metal,Freeport-Mcmoran Morenci Inc.,4521 U S HIGHWAY 191,MORENCI,85540,96,Surface
272,200137,Surface metal,Freeport-Mcmoran Bagdad Inc,P.O. BOX 245,BAGDAD,86321,37,Surface
274,200144,Surface metal,Freeport-Mcmoran Sierrita Ops.,6200 WEST DUVAL MINE ROAD,GREEN VALLEY,85622,27,Surface
455,203131,Surface metal,Freeport-Mcmoran Safford Inc,P.O. BOX 1019,SAFFORD,85548,27,Surface
2597,1103147,Underground coal,"Knight Hawk Coal, Llc",500 CUTLER-TRICO RD,PERCY,62272,25,Underground
3897,1519374,Underground coal,River View Coal Llc,835 SR 1179,WAVERLY,42462,28,Underground
6053,2300542,Underground stone,Mississippi Lime Company,16147 HIGHWAY 61,SAINT GENEVIE,63670,25,Underground
6395,2401490,Underground metal,Stillwater Mining Company,P.O. BOX 1330,COLUMBUS,59019,31,Underground
6411,2401879,Underground metal,Stillwater Mining Company,P.O. BOX 1227,BIG TIMBER,59011,27,Underground
9747,3605018,Underground coal,Iron Cumberland Llc,855 KIRBY ROAD,WAYNESBURG,15370,34,Underground
9798,3607230,Underground coal,Consol Pennsylvania Coal Compa,1000 CONSOL ENERGY DRIVE,CANONSBURG,15317,10,Underground
13292,4601318,Underground coal,Harrison County Coal Resources,464 NORTH PORTAL ROAD,WALLACE,26448,27,Underground
13294,4601433,Underground coal,"Marion County Coal Resources,",151 JOHNNY CAKE ROAD,METZ,26585,46,Underground
13295,4601436,Underground coal,"Ohio County Coal Resources, In",1107 GOLDEN RIDGE ROAD,DALLAS,26036,37,Underground
13296,4601437,Underground coal,Marshall County Coal Resources,46226 NATIONAL RD,ST. CLAIRSVIL,43950,69,Underground
13304,4601968,Underground coal,Monongalia County Coal Resourc,P.O. BOX 720,BRAVE,15316,24,Underground

## Create Database Connection

In [238]:
engine = (create_engine(f'postgresql://postgres:'+db_key+f'@localhost:5432/Project_2'))

In [239]:
# Confirm tables
engine.table_names()

['injured_person_details',
 'injury_details',
 'company_details',
 'incident_details']

In [241]:
# Create New Tables and upload data
incident_details_export.to_sql(name='incident_details', con=engine, if_exists='append', index=False)
injured_person_details_export.to_sql(name='injured_person_details', con=engine, if_exists='append', index=False)
injury_details_export.to_sql(name='injury_details', con=engine, if_exists='append', index=False)
company_details_export.to_sql(name='company_details', con=engine, if_exists='append', index=False)