## Extract/Import - Get Data

In [59]:
# Dependencies and Setup
import pandas as pd
from sqlalchemy import create_engine
from DB_keys import db_key

# Source Data files
incident_data = "resources/incident_file.csv"
employement_data = "resources/employment.csv"

# Read the source data and convert to Pandas Dataframe
incident_data_df = pd.read_csv(incident_data)
employement_data_df = pd.read_csv(employement_data)

c:\Users\Nino\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (0,1,4,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Transform - Drop Unrequired Data and Modify

In [60]:
# Create clean incident data table by dropping additional columns and rename remaining columns from data frames
incident_data_clean = incident_data_df.drop(['acccode', 'accinj', 'canvass', 'ccidn', 'coalmetl', 'commod', 'compcode', 'county', 'daysrest', 'daysstat', 'daystotl', 'district', 'docnum', 'expjob', 'expmine', 'exptotal', 'injtype',
                                            'inspoff', 'invstart', 'minemach', 'modnum', 'narrcm', 'permtort', 'retwork', 'shift', 'sic', 'subunit', 'time', 'timesnce', 'tradnm', 'upaddno', 'upaddyr', 'upchngno', 'upchngyr', 'ywmine', 'retwork', 'ywtotal'], axis=1)
incident_data_clean = incident_data_clean.rename(columns={'mineid': 'mine_id', 'aii': 'incident_category', 'atype': 'incident_type', 'contract': 'contract_id', 'day': 'incident_day', 'month': 'incident_month', 'narrtxt1': 'incident_description', 'narrtxt2': 'incident_description2', 'opercont': 'operator_contractor', 'state': 'incident_state', 'uloc': 'underground_location',
                                                 'year': 'incident_year', 'mwactiv': 'incident_activity', 'umeth': 'underground_method', 'age': 'injured_person_age', 'sex': 'injured_person_gender', 'occup': 'injured_person_occupation', 'deginj': 'injury_classifiation', 'injrep': 'injury_count', 'dayslost': 'injury_days_lost', 'natinj': 'injury_nature', 'partbody': 'injury_body_part', 'sourcinj': 'injury_source', })
incident_data_clean.head()

,mine_id,contract_id,incident_month,incident_day,incident_state,underground_location,underground_method,incident_category,incident_type,injury_count,...,incident_activity,injury_source,injury_nature,injury_body_part,injury_classifiation,injury_days_lost,incident_description,incident_description2,incident_year,operator_contractor
0,100003,NaN,February,11,Alabama,Not labeled,0,Handling material,Absorption of various noxious substances,1,...,Walking/running,Acids and alkalies,"Burn, chemical","Lower extremities, multiple",Days of restricted activity only,0,EMPLOYEE WALKED THROUGH A PUDDLE OF WATER IN T...,NaN,2020,Operator
1,100003,B5225,August,4,Alabama,Not labeled,0,Stepping or kneeling on object,Struck against stationary object,1,...,Handling explosives,"Broken rock, coal, ore, waste","Sprain, strains",Back,Days of restricted activity only,0,EMPLOYEE WAS LOADING EMULSION BLASTING AGENT I...,CE. EMPLOYEE REGAINED EE'S BALANCE BEFORE FAL...,2020,Contractor
2,100003,B5225,December,14,Alabama,Not labeled,0,Slip or fall of person (from an elevation or o...,Fall to the walkway or working surface,1,...,Walking/running,Ground,"Sprain, strains",Ankle,Days of restricted activity only,0,EMPLOYEE WAS WALKING BETWEEN ROWS OF DRILLED P...,NaN,2020,Contractor
3,100008,NaN,September,22,Alabama,Not labeled,0,Handling material,Over-exertion in lifting objects,1,...,"Handling supplies or material, load and unload",Belt conveyors,"Hernia, rupture",Abdomen,Days away AND restricted activity,8,EMPLOYEE WAS ASSISTING WITH REMOVING A PULLEY ...,NaN,2020,Operator
4,100011,NaN,February,25,Alabama,Not labeled,0,Slip or fall of person (from an elevation or o...,Fall to the walkway or working surface,1,...,Climb scaffolds/ladders/platforms; headframe/d...,Ground,"Sprain, strains",Shoulder(s),Days away from work only,258,EMPLOYEE PULLED UP IN A BACK HOE TO ADDRESS EE...,NaN,2020,Operator

In [61]:
# Replace identified 'dirty' data values in the incident_data table
incident_data_clean['incident_activity'] = incident_data_clean['incident_activity'].str.replace('#NULL!','Unknown')
incident_data_clean['underground_method'] = incident_data_clean['underground_method'].str.replace('0','Unknown')
incident_data_clean['injured_person_age'] = incident_data_clean['injured_person_age'].str.replace('#NULL!','Unknown')
incident_data_clean['injured_person_gender'] = incident_data_clean['injured_person_gender'].str.replace('#NULL!','Unknown')

incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('261','Unknown')
incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('617','Unknown')
incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('675','Unknown')
incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('677','Unknown')
incident_data_clean['injured_person_occupation'] = incident_data_clean['injured_person_occupation'].str.replace('#NULL!','Unknown')

incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('#NULL!','Unclassified')
incident_data_clean['injury_days_lost'] = incident_data_clean['injury_days_lost'].str.replace('#NULL!','Nil Recorded')
incident_data_clean['injury_nature'] = incident_data_clean['injury_nature'].str.replace('#NULL!','Unclassified')
incident_data_clean['injury_source'] = incident_data_clean['injury_source'].str.replace('#NULL!','Unclassified')

## Project_2 Additions - Transform - Drop Unrequired Data and Modify

In [62]:
# Replace injury_body_part data values
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Finger(s)','Hand/Wrist')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Back','Back/Torso')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Unclassified','Unclassified/Multiple')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Shoulder(s)','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Knee','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Hand','Hand/Wrist')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Eye(s) (inc. optic nerve & vision)','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Multiple parts','Unclassified/Multiple')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Ankle','Hand/Wrist')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Chest','Back/Torso')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Lower leg','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Head, NEC','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Foot (not ankle or toes)','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Elbow','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Hips','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Neck','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Body systems','Unclassified/Multiple')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Forearm','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Mouth','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Thigh','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Ear(s) internal (inc. hearing)','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Leg, NEC','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Arm, NEC','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Upper arm','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Abdomen','Back/Torso')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Toe(s)','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Brain','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Face, NEC','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Jaw (inc. chin)','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Lower extremities, multiple','Hips/Legs/Feet')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Upper extremities, multiple','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Nose','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Scalp','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Face, multiple parts','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Ear(s) external','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Head, multiple','Neck/Head/Face')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Arm, multiple','Shoulder/Arm/Hand')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Trunk, NEC','Back/Torso')
incident_data_clean['injury_body_part'] = incident_data_clean['injury_body_part'].str.replace('Leg, multiple','Hips/Legs/Feet')

# Replace injury_nature data values
incident_data_clean['injury_nature'] = incident_data_clean['injury_nature'].str.replace('Unclassified, not determined','Unclassified')
incident_data_clean['injury_nature'] = incident_data_clean['injury_nature'].str.replace('Other injury, NEC','Unclassified')

In [63]:
# Create clean employment data table by dropping additional columns and rename remaining columns from data frames
employment_data_clean = employement_data_df.drop(['contract', 'aveemp01', 'aveemp02', 'aveemp03', 'aveemp04', 'aveemp05', 'aveemp06', 'aveemp12', 'aveemp17', 'aveemp30', 'aveemp99', 'avenemp', 'canvass', 'coalmetl', 'commod', 'county', 'countynm', 'district', 'emphrs01', 'emphrs02', 'emphrs03', 'emphrs04',
                                                 'emphrs05', 'emphrs06', 'emphrs12', 'emphrs17', 'emphrs30', 'emphrs99', 'inspoff', 'mailcont', 'minename', 'opercont', 'priorst', 'seamhite', 'sic', 'statdate', 'state', 'stateabb', 'status', 'tons01', 'tons03', 'tons04', 'tons05', 'tons06', 'tothrs', 'totprod', 'travarea', 'year', ], axis=1)
employment_data_clean = employment_data_clean.rename(columns={'mineid': 'mine_id', 'city': 'company_city', 'compname': 'company_name', 'injcount': 'company_injury_count',
                                                     'minetype': 'company_mine_type', 'streetad': 'company_address', 'ug_surf': 'company_underground_surface', 'zipcode': 'company_zipcode'})
employment_data_clean.head()

,mine_id,company_mine_type,company_name,company_address,company_city,company_zipcode,company_injury_count,company_underground_surface
0,Contractor,Contractor,DRIFT EXPLORATION DRILLING,P.O. BOX 10,WINNEMUCCA,89446,0,Surface
1,Contractor,Contractor,PALMETTO SPLICE SERVICE INC.,P.O. BOX 7223,COLUMBIA,29202,0,Surface
2,Contractor,Contractor,NORTHERN FIRE & SAFETY INC,1798 NORTHERN STAR DR.,TRAVERSE CITY,49686,0,Surface
3,Contractor,Contractor,WESTHOFF CONSTRUCTION CO INC,6282 HIGHWAY 69,PORTER,74454,0,Surface
4,Contractor,Contractor,CORONA CLAY COMPANY,22079 KNABE RD,CORONA,92883,0,Surface

## Project_2 Additions - Transform - Change Case of Fields

In [64]:
employment_data_clean['company_name'] = employment_data_clean['company_name'].str.title()
employment_data_clean.head()

,mine_id,company_mine_type,company_name,company_address,company_city,company_zipcode,company_injury_count,company_underground_surface
0,Contractor,Contractor,Drift Exploration Drilling,P.O. BOX 10,WINNEMUCCA,89446,0,Surface
1,Contractor,Contractor,Palmetto Splice Service Inc.,P.O. BOX 7223,COLUMBIA,29202,0,Surface
2,Contractor,Contractor,Northern Fire & Safety Inc,1798 NORTHERN STAR DR.,TRAVERSE CITY,49686,0,Surface
3,Contractor,Contractor,Westhoff Construction Co Inc,6282 HIGHWAY 69,PORTER,74454,0,Surface
4,Contractor,Contractor,Corona Clay Company,22079 KNABE RD,CORONA,92883,0,Surface

## Load - Create new Data Frames and Export data into new CSV files

In [65]:
# Create 'incident_details' table and export to csv file
incident_details = incident_data_clean[['mine_id','contract_id', 'incident_activity', 'incident_category', 'incident_day', 'incident_description', 'incident_description2', 'incident_month', 'incident_state', 'incident_type', 'incident_year', 'operator_contractor', 'underground_location', 'underground_method']]

# Export Data to CSV File
incident_details.to_csv("Resources\incident_details.csv", index=False)
incident_details.head()

,mine_id,contract_id,incident_activity,incident_category,incident_day,incident_description,incident_description2,incident_month,incident_state,incident_type,incident_year,operator_contractor,underground_location,underground_method
0,100003,NaN,Walking/running,Handling material,11,EMPLOYEE WALKED THROUGH A PUDDLE OF WATER IN T...,NaN,February,Alabama,Absorption of various noxious substances,2020,Operator,Not labeled,Unknown
1,100003,B5225,Handling explosives,Stepping or kneeling on object,4,EMPLOYEE WAS LOADING EMULSION BLASTING AGENT I...,CE. EMPLOYEE REGAINED EE'S BALANCE BEFORE FAL...,August,Alabama,Struck against stationary object,2020,Contractor,Not labeled,Unknown
2,100003,B5225,Walking/running,Slip or fall of person (from an elevation or o...,14,EMPLOYEE WAS WALKING BETWEEN ROWS OF DRILLED P...,NaN,December,Alabama,Fall to the walkway or working surface,2020,Contractor,Not labeled,Unknown
3,100008,NaN,"Handling supplies or material, load and unload",Handling material,22,EMPLOYEE WAS ASSISTING WITH REMOVING A PULLEY ...,NaN,September,Alabama,Over-exertion in lifting objects,2020,Operator,Not labeled,Unknown
4,100011,NaN,Climb scaffolds/ladders/platforms; headframe/d...,Slip or fall of person (from an elevation or o...,25,EMPLOYEE PULLED UP IN A BACK HOE TO ADDRESS EE...,NaN,February,Alabama,Fall to the walkway or working surface,2020,Operator,Not labeled,Unknown

In [66]:
# Create 'injured_person_details' table and export to csv file
injured_person_details = incident_data_clean[['mine_id','injured_person_age','injured_person_gender', 'injured_person_occupation']]

# Export Data to CSV File
injured_person_details.to_csv("Resources\injured_person_details.csv", index=False)
injured_person_details.head()

,mine_id,injured_person_age,injured_person_gender,injured_person_occupation
0,100003,42,Male,"Maintenance man, Mechanic, Repair/Serviceman, ..."
1,100003,32,Male,"Maintenance man, Mechanic, Repair/Serviceman, ..."
2,100003,18,Male,"Maintenance man, Mechanic, Repair/Serviceman, ..."
3,100008,59,Male,"Crusher attendant/operator, Pan feeder operato..."
4,100011,63,Male,"Laborer, Blacksmith, Bull gang, Parts runner, ..."

In [67]:
# Create 'injury_details' table and export to csv file
injury_details = incident_data_clean[['mine_id','injury_body_part', 'injury_classifiation', 'injury_count', 'injury_days_lost', 'injury_nature', 'injury_source']]

# Export Data to CSV File
injury_details.to_csv("Resources\injury_details.csv", index=False)
injury_details.head()

,mine_id,injury_body_part,injury_classifiation,injury_count,injury_days_lost,injury_nature,injury_source
0,100003,Hips/Legs/Feet,Days of restricted activity only,1,0,"Burn, chemical",Acids and alkalies
1,100003,Back/Torso,Days of restricted activity only,1,0,"Sprain, strains","Broken rock, coal, ore, waste"
2,100003,Hand/Wrist,Days of restricted activity only,1,0,"Sprain, strains",Ground
3,100008,Back/Torso,Days away AND restricted activity,1,8,"Hernia, rupture",Belt conveyors
4,100011,Shoulder(s),Days away from work only,1,258,"Sprain, strains",Ground

In [68]:
# Create 'company_details' table and export to csv file
company_details = employment_data_clean

# Export Data to CSV File
company_details.to_csv("Resources\company_details.csv", index=False)
company_details

,mine_id,company_mine_type,company_name,company_address,company_city,company_zipcode,company_injury_count,company_underground_surface
0,Contractor,Contractor,Drift Exploration Drilling,P.O. BOX 10,WINNEMUCCA,89446,0,Surface
1,Contractor,Contractor,Palmetto Splice Service Inc.,P.O. BOX 7223,COLUMBIA,29202,0,Surface
2,Contractor,Contractor,Northern Fire & Safety Inc,1798 NORTHERN STAR DR.,TRAVERSE CITY,49686,0,Surface
3,Contractor,Contractor,Westhoff Construction Co Inc,6282 HIGHWAY 69,PORTER,74454,0,Surface
4,Contractor,Contractor,Corona Clay Company,22079 KNABE RD,CORONA,92883,0,Surface
...,...,...,...,...,...,...,...,...
33082,6900005,Sand & gravel,"Usa Fanter Corp., Ltd.",P.O. BOX 10003,SAIPAN,96950,0,Surface
33083,6900006,Sand & gravel,"Usa Fanter Corp., Ltd.",P.O. BOX 10003,SAIPAN,96950,0,Surface
33084,6900007,Sand & gravel,Construction And Material Supp,P.O. BOX 500609,SAIPAN,96950,0,Surface
33085,6900009,0,"Gppc, Inc",P.O. BOX,NaN,NaN,0,Surface
33086,6900010,Sand & gravel,United Construction Corporatio,PUMP[KIN ST. CHALAN LAULAU,SAIPAN,96950,0,Surface

## Create Database Connection

In [69]:
engine = (create_engine(f'postgresql://postgres:'+db_key+f'@localhost:5432/Project_2'))

In [70]:
# Confirm tables
engine.table_names()

['Incident_Details',
 'Injured_Person_Details',
 'Injury_Details',
 'Company_Details']

In [71]:
# Create New Tables and upload data
incident_details.to_sql(name='incident_details', con=engine, if_exists='append', index=True)
injured_person_details.to_sql(name='injured_person_details', con=engine, if_exists='append', index=True)
injury_details.to_sql(name='injury_details', con=engine, if_exists='append', index=True)
company_details.to_sql(name='company_details', con=engine, if_exists='append', index=True)